$white: #fff;
$black: #000;


$link-color: #252e39;
/*$bg-color: #82004b;*/




$base-font-size: 1rem;
$base-line-height: 1.5;
$body-bg-color: #fff !default;
$body-text-color: #252e39 !default;
$body-font-family: 'PT Sans', sans-serif;
